<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
    <nav class="navbar-fixed-top">
        <a href="#" class="logo">
            <mat-icon>storefront</mat-icon> Cafe Management System
        </a>
        <ul>
            <li>
                <a (click)="handleLoginAction()">Login</a>
                <a (click)="handleSignupAction()">signup</a>
                <!--<a (click)="handleforgotPasswordAction()">Forgot Password</a>-->
            </li>
        </ul>
    </nav>
</div>
<div class="footer" id="signup">
</div>