<mat-toolbar color="primary">
    <mat-toolbar-row fxfLayout="row">
        <span>{{dialogData.action}} View Bill</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <table id="customers">
        <tr>
            <td><b>Name: </b>{{data?.name}}</td>
            <td><b>Email: </b>{{data?.email}}</td>
        </tr>
        <tr>
            <td><b>Contact Number: </b>{{data?.contactNumber}}</td>
            <td><b>Payment Method: </b>{{data?.paymentMethod}}</td>
        </tr>
    </table>

    <div class="responsive_table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let element">{{element.category}}</td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element">{{element.price}}</td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>Total</th>
                <td mat-cell *matCellDef="let element">{{element.total}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dataplayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:dataplayedColumns;"></tr>

        </table>
    </div>
</mat-dialog-content>